html body {
  margin: 2px auto;
  padding: 1px;
}

body {
  background-color: rgb(23, 23, 26);
  /* overflow: hidden; */
}

div canvas article aside ul .wrap .wrapper {
  position: relative;
  margin: 0 auto;
  padding: 1px;
  border: 0px solid white;
}

form {
  padding: 0;
}

canvas {
 
}

article {
  position: inherit;
}

aside {
  padding: 2px 20px 0 2px;
  /* overflow: hidden; */
}

a {
  color: white;
}

ul {
  padding: 1px;
}

li {
  box-shadow: #4CAF50;
}

p {
  margin: 0;
}

footer {
  margin: 0;
}

#can {

  background-image: -webkit-linear-gradient(132deg, rgb(0, 0, 0) 0%, rgba(66, 25, 112, 0.15) 100%);
  background-image: -moz-linear-gradient(132deg, rgb(0, 0, 0) 0%, rgba(66, 25, 112, 0.15) 100%);
  background-image: -o-linear-gradient(132deg, rgb(0, 0, 0) 0%, rgba(66, 25, 112, 0.15) 100%);
}

#one {
  margin: 0;
}

#two {
  margin: 0;
}

#three {
  margin: 0;
}

#four {
  margin: 0;
}

#five {
  margin: 0;
}

#six {
  margin: 0;
}

.fa-search {
  padding-left: 5px;
}

.wrap {
  padding: 0;
}

/* element {
  padding: 1px;
} */
/* Add a black background color to the top navigation */
.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.grow1 {
  flex-grow: 1;
}

.main {
  display: flex;
}

.aside-1 {
  color: whitesmoke;
  font-size: 1em;
  border: 1px solid blueviolet;
  font-family: Arial, Helvetica, sans-serif;
}

.canvas {
  max-width: 800px;
  min-width: 370px;
}

.wrap {
  flex-flow: row;
  margin: 0;
  align-items: center;
}

.fnav ul li {
  list-style: none;
  overflow: hidden;
  justify-content: space-around;
}

.fnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fnav li li:last-of-type a {
  flex-grow: 1;
  justify-content: space-between;
  border-bottom: none;
}

.brand i {
  font-size: 1.5em;
}

.search>* {
  box-shadow: 5px 10px 20px -20px rgb(0, 0, 0);
}

.navs {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-size: .8em;
}

.navs ul li {
  flex-direction: row;
}

.fnav {
  border-radius: 2px;
  border: 1px solid rgba(238, 238, 238, 1);
  background: rgba(59, 89, 153, .5);
  color: #fff;
  font-size: .9em;
  box-shadow: 5px 10px 20px -20px rgba(59, 89, 153, 1);
}

.fnav li:not(:last-child):not(:first-child):not(.search) {
  margin-right: 10px;
}

.footer {
  order: 3;
  color: white;
  background: rgb(3, 1, 19);
}

@media all and (min-width: 400px) {
  .wrapper {
    display: none;
  }

  .canvas {
    margin: 0;
    padding: 0;
    transition: width .5s, height .5s;
  }

  .title h2 {
    text-align: center;
    font-size: 20px;
  }

  .aside-1 {
    margin: 2px;
  }
}

@media all and (min-width: 401px) {
  .fnav {
    display: flex;
  }

  .main {
    margin: 0;
    padding: 5px;
  }

  .canvas {
    position: relative;
    width: 100%;
  }

  .bt {
    border: 10px solid white;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }
}